.form-container {
    /* background-color: lightgray; */
    /* border-radius: 10px; */
    /* border-color: lightgray;
    border-width: 1px;
    border-style: solid; */
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.cardDeckContainer {
    margin: 5px;
    padding: 5px;
}