.form-container {
    margin-top: 20px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.cardDeckContainer {
    margin: 5px;
    padding: 5px;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-lines: 1;
}